# Dev UI
streamlit>=1.39.0

# Development requirements
pre-commit>=4.0.0
ruff>=0.7.0

# Test requirements
pytest>=8.3.2
pytest-cov>=5.0.0
tox>=4.17.1

# Documentation requirements
mkdocs>=1.6.0
mkdocs-material>=9.5.39
mkdocstrings>=0.26.2
mkdocs-autorefs>=1.2.0
mkdocs-include-markdown-plugin>=6.2.1
mike>=2.1.2
